<template>
	<div id="app">
			<router-view/>
	</div>
</template>

<script>
import {mapActions} from "vuex";
import cookies from "vue-cookies";

export default {
	methods: {
		...mapActions(['setCurrentUser'])
	},
}
</script>

<style>
body {
	max-width: 100%;
}
.text-gradient:hover{
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 767px) {
	body {
		margin-bottom: 120px;
	}
}
img {
	display: block;
}
</style>
