<template>
  <div>
		<MobileHeader />
    <TheHeader />
    <CreatePost />
  </div>
</template>

<script>
import TheHeader from "@/components/TheHeader.vue";
import CreatePost from "@/components/CreatePost.vue";
import MobileHeader from "@/components/MobileHeader";


export default {
  components: {
		MobileHeader,
    TheHeader,
    CreatePost,
  },
};
</script>

<style scoped></style>
