<template>
	<div>
		<MobileHeader />
		<TheHeader />
		<DiscoverGrid />
	</div>
</template>

<script>
import TheHeader from "@/components/TheHeader.vue";
import MobileHeader from "@/components/MobileHeader";
import DiscoverGrid from "@/components/DiscoverGrid";

export default {
	components: {
		MobileHeader,
		TheHeader,
		DiscoverGrid,
	},
};
</script>

<style scoped>

</style>
