<template>
  <div class="home">
		<MobileHeader />
    <TheHeader />
    <posts-list @onIntersecting="onIntersecting" :posts="getAllPosts" />
  </div>
</template>

<script>
import TheHeader from "@/components/TheHeader.vue";
import PostsList from "@/components/PostsList.vue";
import MobileHeader from "@/components/MobileHeader";
import {mapActions, mapGetters} from "vuex";

export default {
  components: {
		MobileHeader,
    TheHeader,
    PostsList,
  },
	computed: mapGetters([
		'getCurrentUser', 'getAllPosts', 'getItemToDelete'
	]),
	methods: {
		async onIntersecting() {
			await this.fetchNextPosts();
		},
		...mapActions(['fetchNextPosts', 'deletePost', 'deleteComment', 'setNextPage', 'clearPosts'])
	},
	async mounted() {
		try {
			await this.clearPosts();
			await this.setNextPage('/api/feed');
			await this.fetchNextPosts();
		} catch (error) {
			console.log(error)
		}
	},
};
</script>

<style scoped></style>
