<template>
	<div>
		<MobileHeader />
		<TheHeader />
		<component :is="dynamicComponent" :swap-component="swapComponent"/>
	</div>
</template>

<script>
import TheHeader from "@/components/TheHeader.vue";
import UserProfile from "@/components/UserProfile.vue";
import EditProfile from "@/components/EditProfile.vue";
import MobileHeader from "@/components/MobileHeader";

export default {
	data() {
		return {
			dynamicComponent: 'UserProfile'
		}
	},
	components: {
		TheHeader,
		UserProfile,
		EditProfile,
		MobileHeader
	},
	methods: {
		swapComponent: function(component) {
      		this.dynamicComponent = component;
    	}
	}
};
</script>
