<template>
	<div>
		<div class="card-body mt-0 pt-0">
			<template v-if="showComments">
				<div v-for="comment in post.comments" :key="comment.id" class="card-text">
					<span class="fw-bold pe-1" style="white-space: pre-line">
						<router-link :to='`/user/${ comment.author.username }`' class="text-decoration-none link-dark text-gradient">
							{{ comment.author.username }}
						</router-link>
					</span>
					{{ comment.comment }}
					<button
						v-if="comment.author.id===getCurrentUser.id"
						@click="setItemToDelete({type:'comment',postSlug: post.slug, commentId: comment.id})"
						data-bs-toggle="modal"
						data-bs-target="#deleteModal" class="btn p-0 trash">
						<font-awesome-icon :style="{fontSize: '0.8rem'}" icon="fa-regular fa-trash-can" />
					</button>
					<p :style="{fontSize: '0.9rem', color:'grey' }">{{ comment.created_at }}</p>
				</div>
				<a v-if="post.comments.length !== 1" href="#" @click.prevent="showMore" class="pe-auto text-muted text-decoration-none">View less comments</a>
			</template>
			<template v-else-if=post.comments.length>
				<div class="card-text">
					<span class="fw-bold pe-1">
						<router-link :to='`/user/${post.comments[0].author.username}`' class="text-decoration-none link-dark text-gradient">
							{{ post.comments[0].author.username }}
						</router-link>
					</span>
					{{ post.comments[0].comment }}
					<button
						v-if="post.comments[0].author.id===getCurrentUser.id"
						@click="setItemToDelete({type:'comment', postSlug: post.slug, commentId: post.comments[0].id})"
						data-bs-toggle="modal"
						data-bs-target="#deleteModal" class="btn p-0 trash">
						<font-awesome-icon :style="{fontSize: '0.8rem'}" icon="fa-regular fa-trash-can" />
					</button>
					<p :style="{fontSize: '0.9rem', color: 'grey' }">{{ post.comments[0].created_at }}
					</p>
				</div>
				<a v-if="post.comments.length > 1" href="#" @click.prevent="showMore"
					 class="pe-auto text-muted text-decoration-none">View more comments</a>
			</template>
		</div>

		<form @submit.prevent="submitComment">
			<div class="input-group border-top">
				<input
					v-model="newComment"
					name="comment"
					type="text"
					autocomplete="off"
					class="form-control border-0"
					placeholder="Add a comment..."
					aria-label="Recipient's username"
					aria-describedby="button-addon2"
					required
				/>
				<button
					class="btn btn-outline-primary border-0"
					type="submit"
					id="button-addon2"
				>
					Post
				</button>
			</div>
		</form>
	</div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
	name: 'comments',
	props: ['post'],
	data() {
		return {
			newComment: "",
			showComments: false,
		}
	},
	methods: {
		showMore() {
			this.showComments = !this.showComments
		},
		submitComment() {
			this.createComment({comment: this.newComment, post_id: this.post.id});
			this.newComment = "";
		},


		...mapActions(['createComment', 'setItemToDelete']),
	},
	computed: {
		...mapGetters([
			'getCurrentUser'
		]),
	}
};
</script>

<style scoped>
.trash {
	color: gray;
	margin-bottom: 0.3em;
}
.trash:hover {
	color: #fb3958;
	transform: scale(110%);
}
.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
}
</style>
