<template>
	<div class="container px-0 justify-content-center mt-5">
		<div class="row justify-content-center">
			<div class="col-10 col-md-4 mb-4 ">
				<form
					@submit.prevent="createPost({ description: post.description, fileInput})"
					class="container card shadow py-2"
					enctype="multipart/form-data"
					action="/api/posts"
					method="POST"
				>
					<div class="form-group">
						<p class="display-6 text-center mt-2">Create Post</p>
						<input
							type="hidden"
							name="user_id"
							:value="getCurrentUser.id"
							class="form-control my-3"
						/>
						<label for="Image">Image</label>
						<input
							type="file"
							name="image"
							accept="image/png, image/jpeg"
							class="form-control my-3"
							id="Image"
							@change="onFileChange"
							required
						/>
						<label for="Description">Description</label>
						<textarea
							class="form-control my-3"
							name="description"
							id="Description"
							placeholder="Description"
							@keyup="updateDescription"
							required
						></textarea>
						<button type="submit" class="btn btn-primary my-3 float-end">Post</button>
					</div>
				</form>
			</div>
			<div class="col-10 col-md-4 mb-4">
				<post-card :post="{...post, author: {username: getCurrentUser.username, image: getCurrentUser.image}}"/>
			</div>
		</div>
	</div>
</template>

<script>
import PostCard from "@/components/PostCard.vue";
import {mapActions, mapGetters} from "vuex";

export default {
	name: "CreatePost",
	components: {
		PostCard,
	},

	data() {
		return {
			post: {
				image: "/storage/images/placeholder.jpg",
				description: "Description",
			},
			fileInput: null,

		};
	},

	methods: {
		updateDescription(e) {
			this.post.description = e.target.value;
		},
		onFileChange(e) {
			const files = e.target.files || e.dataTransfer.files;
			if (!files.length) return;
			this.fileInput = files[0];
			this.createImage(files[0]);
		},
		createImage(file) {
			const reader = new FileReader();

			reader.onload = (e) => {
				this.post.image = e.target.result;
			};
			reader.readAsDataURL(file);
		},
		...mapActions(['createPost'])
	},
	computed: {
		...mapGetters([
			'getCurrentUser'
		]),
	},
};
</script>

<style>
form > div > input,
textarea {
	autocomplete: off;
	required: required;
}
</style>
