<template>
	<div
		class="modal fade"
		id="deleteModal"
		data-bs-backdrop="static"
		data-bs-keyboard="false"
		tabindex="-1"
		aria-labelledby="staticBackdropLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">Are you sure you want to delete this {{getItemToDelete.type}}?</div>
				<div class="modal-footer">
					<button
						data-bs-toggle="modal"
						href="#postModal"
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
					>
						Cancel
					</button>
					<a
						@click="deleteItem()"
						type="button"
						class="btn btn-danger"
						data-bs-dismiss="modal"
					>
						Delete
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import {mapActions, mapGetters} from "vuex";

export default {
	computed:{
		...mapGetters(['getItemToDelete'])
	},
	methods: {
		deleteItem(){
			if(this.getItemToDelete.postSlug && this.getItemToDelete.commentId){
				this.deleteComment();
			} else if (this.getItemToDelete.postSlug){
				this.deletePost()
			}
		},
		...mapActions(['deletePost', 'deleteComment'])
	},
};
</script>
