<template>
	<div class="mt-5">
		<posts-grid  @onIntersecting="onIntersecting" v-if="getAllPosts.length" :posts="getAllPosts" class="col-10 mx-auto"/>
		<TheSpinner v-if="getIsLoading">Loading...</TheSpinner>
		<p v-if="getErrorMessage">{{getErrorMessage}}</p>
	</div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import PostsGrid from "@/components/PostsGrid";
import TheSpinner from "@/components/TheSpinner";


export default {
	components: {
		PostsGrid,
		TheSpinner
	},
	computed: mapGetters([
		'getCurrentUser', 'getAllPosts', 'getItemToDelete', 'getIsLoading', 'getErrorMessage'
	]),
	methods: {
		async onIntersecting() {
			await this.fetchNextPosts();
		},
		...mapActions(['fetchNextPosts', 'deletePost', 'deleteComment', 'setNextPage', 'clearPosts'])
	},
	async mounted() {
		try {
			await this.clearPosts();
			await this.setNextPage('/api/posts');
			await this.fetchNextPosts();
		} catch (error) {
			console.log(error)
		}
	},
};
</script>

<style scoped>

</style>
