<template>
	<div>
		<form
			class="container card py-2 my-5 shadow"
			@submit.prevent="updateCurrentUser"
			enctype="multipart/form-data"
		>
			<div class="form-group">
				<h2 class="text-center">Edit Profile</h2>
				<img
					id="profilepic"
					class="rounded-circle mx-auto d-block my-3"
					:src="getEditUser.image"
					alt=""
				/>
				<h5 class="text-center">@{{ getEditUser.username }}</h5>
				<br/>
				<div class="row justify-content-center">
					<div class="col-12 col-sm-5 col-xl-3">
						<label for="uploaded_file">Profile Pic</label>
						<input
							type="file"
							accept="image/png, image/jpeg"
							class="form-control my-3"
							id="uploaded_file"
							name="uploaded_file"
							@change="onFileChange"
						/>
						<label for="username">Username</label>
						<div class="input-group flex-nowrap my-3">
							<span class="input-group-text">@</span>
							<input
								class="form-control"
								type="text"
								autocomplete="username"
								id="username"
								name="username"
								:value="getEditUser.username"
								@keyup="updateEditUser('username', $event)"
								required
							/>
						</div>
					</div>
					<div class="col-12 col-sm-5 col-xl-3">
						<label for="firstName">First Name</label>
						<input
							class="form-control my-3"
							type="text"
							id="firstName"
							name="first_name"
							:value="getEditUser.first_name"
							@keyup="updateEditUser('first_name', $event)"
							required
						/>
						<label for="lastName">Last Name</label>
						<input
							class="form-control my-3"
							type="text"
							id="lastName"
							name="last_name"
							:value="getEditUser.last_name"
							@keyup="updateEditUser('last_name', $event)"
							required
						/>
					</div>
				</div>
				<button
					type="submit"
					class="btn btn-primary my-3 row w-25 mx-auto d-block"
				>
					Save Changes
				</button>
				<button @click="swapComponent('userProfile')" class="btn btn-light my-3 row w-25 mx-auto d-block">Cancel
				</button>
			</div>
		</form>
	</div>
</template>

<script>
import {mapActions, mapGetters} from "vuex"

export default {
	props: ['swapComponent'],
	computed: {
		...mapGetters(['getEditUser', 'getCurrentUser'])
	},
	methods: {
		updateEditUser(key, e) {
			const user = {...this.getEditUser};
			user[key] = e.target.value;
			this.setEditUser({...user});
		},
		onFileChange(e) {
			const files = e.target.files || e.dataTransfer.files;
			if (!files.length) return;
			this.createImage(files[0]);
			this.setEditUser({...this.getEditUser, fileInput: files[0]})
		},
		createImage(file) {
			const reader = new FileReader();

			reader.onload = (e) => {
				this.setEditUser({...this.getEditUser, image: e.target.result});
			};
			reader.readAsDataURL(file);
		},
	async	updateCurrentUser(){
			await this.updateUser();
			this.swapComponent('userProfile');
			this.$router.push(`/user/${this.getCurrentUser.username}`)
		},
		...mapActions(['setEditUser', 'updateUser'])
	},
};
</script>

<style>
#profilepic {
	aspect-ratio: 1/1;
	height: 200px;
	width: 200px;
	object-fit: cover;
}
</style>
