<template>
	<div
		class="modal fade"
		id="editModal"
		tabindex="-1"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit post</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<img class="img-fluid" :src="getEditPost.image" alt=""/>
					</div>
					<form
						class="p-3"
						enctype="multipart/form-data"
					>
						<label for="Image">Select image</label>
						<input
							type="file"
							name="image"
							accept="image/png, image/jpeg"
							class="form-control my-3"
							id="Image"
							@change="onFileChange"
						/>
						<label for="description">Description</label>
						<textarea
							id="description"
							class="form-control my-3"
							name="description"
							placeholder=""
							:value="getEditPost.description"
							@change="setEditPost({...getEditPost, description: $event.target.value})"
						></textarea>
					</form>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
					>
						Cancel
					</button>
					<button
						data-bs-dismiss="modal"
						@click="updatePost()"
						type="button"
						class="btn btn-primary"
					>
						Update
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import PostCard from "./PostCard.vue";
import {mapActions, mapGetters} from "vuex";

export default {
	components: {PostCard},
	computed:{
		...mapGetters(['getEditPost'])
	},
	methods: {
		onFileChange(e) {
			const files = e.target.files || e.dataTransfer.files;
			if (!files.length) return;
			this.createImage(files[0]);
			this.setEditPost({...this.getEditPost, fileInput: files[0]})
		},
		createImage(file) {
			const reader = new FileReader();

			reader.onload = (e) => {
				this.setEditPost({...this.getEditPost, image:e.target.result});
			};
			reader.readAsDataURL(file);
		},
		...mapActions(['updatePost', 'setEditPost'])
	},
};
</script>

<style scoped>
.modal-body {
	padding: 0;
}
</style>
