<template>
	<div :ref="target"></div>
</template>

<script>
export default {
	props: {
		target: {
			type: String,
			required: true
		}
	},
	name: "IntersectionObserver.vue",
	data() {
		return {
			isIntersecting: false,
			observer: null,
		}
	}
	,
	watch: {
		isIntersecting(value) {
			this.$emit('onIntersecting', value);
		}
	}
	,
	mounted() {
		const target = this.$refs[this.target];
		const observer = new window.IntersectionObserver((entries, observer) => {
			if (entries[0].isIntersecting) {
				observer.disconnect();
				this.isIntersecting = true;
			} else {
				this.isIntersecting = false;
			}
		});

		observer.observe(target);
		this.observer = observer;
	},
}
</script>

<style scoped>

</style>
