<template>
	<div>
		<button class="btn p-0 heart" @click="toggleLike">
			<font-awesome-icon icon="fa-solid fa-heart" v-if="liked" style="color:#fb3958" />
			<font-awesome-icon icon="fa-regular fa-heart" v-if="!liked" />
		</button>
		<span class="ps-2">{{ likes }}</span>
	</div>
</template>

<script>

import {mapActions,mapGetters} from "vuex";

export default {
	name: "LikeButton",
	props: ['post'],
	computed: {
	liked(){
		return this.post.likes.find(like => like.user_id === this.getCurrentUser.id);
	},
		likes(){
		return this.post.likes.length;
		},
	...mapGetters(['getCurrentUser'])
	},
	methods:{
		toggleLike(){
			if(this.liked){
				this.deleteLike(this.liked);
			} else{
				this.createLike(this.post);
			}
		},
		...mapActions(['createLike', 'deleteLike'])
	},
}
</script>

<style scoped>
.heart {
	font-size: 2em;
}
.heart:hover {
	color: #fb3958;
	transform: scale(110%);
}
.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
}
</style>
