<template>
	<div>
		<div class="navbar sticky-top navbar-expand navbar-light bg-light shadow ">
			<div class="container-fluid">
				<div class="navbar-nav d-flex w-100 justify-content-around">
					<router-link to="/" class="nav-link gramGradient">
						<p class="lobster mb-0 display-6">TheGram</p>
					</router-link>
				</div>
			</div>
		</div>
		<form @submit.prevent="login(form)" class="container card py-2 my-5 shadow" action="http://localhost:8000/login" method="post" enctype="application/x-www-form-urlencoded">
			<div class="form-group">
				<p class="text-center display-6 mt-2">Login</p>
				<div class="row justify-content-center">
					<div class="col-12 col-sm-5 col-xl-3">

						<label for="email">Email</label>
						<input
							class="form-control my-3"
							type="email"
							v-model="form.email"
							autocomplete="email"
							id="email"
							name="email"
							placeholder="user@email.com"
							required>

						<label for="password">Password</label>
						<input
							class="form-control my-3"
							type="password"
							v-model="form.password"
							autocomplete="password"
							id="password"
							name="password"
							placeholder="Password"
							required>
					</div>
					<p v-if="getErrorMessage" class="text-center text-danger">{{getErrorMessage}}</p>
				</div>
				<button type="submit" class="btn btn-primary my-3 row w-25 mx-auto d-block">Login</button>
				<router-link tag="button" class="btn btn-secondary my-3 row w-25 mx-auto d-block" to="/signup">Signup Instead</router-link>
			</div>
		</form>
	</div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';

export default {
	data() {
		return {
			form: {
				email: "",
				password: ""
			},
		}
	},
	computed:{
		...mapGetters(['getErrorMessage'])
	},
	methods: {
		...mapActions(['login']),
	},
}
</script>

<style>
.lobster{
	font-family: 'Lobster', cursive;
}
.lobster:hover{
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	text-shadow: 0 0 transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gramGradient {
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	text-shadow: 0 0 transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
</style>
