<template>
	<div class="dropdown">
		<button
			class="btn"
			href="#"
			role="button"
			id="dropdownMenuLink"
			data-bs-toggle="dropdown"
			aria-expanded="false"
		>
			<font-awesome-icon icon="fa-solid fa-ellipsis" />
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li>
				<a
					data-bs-toggle="modal"
					data-bs-target="#editModal"
					class="dropdown-item"
					href="#"
					@click="setEditPost(post)"
				>Edit</a
				>
			</li>
			<li>
				<a
					data-bs-toggle="modal"
					data-bs-target="#deleteModal"
					class="dropdown-item"
					href="#"
					@click="setItemToDelete({type:'post', postSlug: post.slug})"
				>Delete</a
				>
			</li>
		</ul>
	</div>
</template>

<script>
import {mapActions} from "vuex";

export default{
	props: ['post'],
	methods:{
		...mapActions(['setItemToDelete', 'setEditPost'])
	}
}
</script>
