<template>
	<div class="navbar sticky-top navbar-expand navbar-light bg-light shadow d-md-none">
		<div class="container-fluid">
			<div class="navbar-nav d-flex w-100 justify-content-around">
				<router-link to="/" class="nav-link gramGradient">
					<p class="lobster mb-0 display-6">TheGram</p>
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
//Import

//Export
export default {
	name: "MobileHeader",
}
</script>

<style scoped>
.lobster{
	font-family: 'Lobster', cursive;
}
.lobster:hover{
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gramGradient{
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
</style>
