<template>
	<div class="container mt-5">
		<ul class="col-10 col-lg-5 mx-auto p-0" v-if="posts.length">
			<li v-for="(post, index) in posts" :key="post.id" class="mb-5">
				<intersection-observer @onIntersecting="onIntersecting" v-if="index === posts.length-1 && getNextPage" target="postListObserver"/>
				<post-card :post="post">
					<template v-slot:menu>
						<menu-item :post="post"/>
					</template>
					<template v-slot:like>
						<LikeButton :post="post" />
					</template>
					<comments :post="post"/>
				</post-card>
			</li>
		</ul>
<!--		If there are no posts-->
		<div v-if="!getIsLoading && !posts.length" class="card mt-5 ps-0 col-10 col-lg-5 mx-auto">
			<font-awesome-icon icon="fa-regular fa-image" class="display-6 text-muted mt-3"/>
			<div class="card-body text-center text-muted">No Posts Yet</div>
			<div class="text-center text-muted mb-3">Try following more users</div>
			<router-link to="discover" class="btn btn-primary">Discover</router-link>
		</div>
		<TheSpinner v-if="getIsLoading">Loading...</TheSpinner>
		<p v-if="getErrorMessage">{{getErrorMessage}}</p>
		<delete-modal />
		<edit-modal />
	</div>
</template>

<script>
import PostCard from "./PostCard.vue";
import Comments from "./Comments.vue";
import MenuItem from "./MenuItem.vue";
import DeleteModal from "./DeleteModal.vue";
import EditModal from "./EditModal.vue";
import {mapActions, mapGetters} from 'vuex';
import LikeButton from "./LikeButton";
import IntersectionObserver from "./IntersectionObserver";
import TheSpinner from "./TheSpinner";

export default {
	props: ['posts'],
	components: {
		PostCard,
		Comments,
		MenuItem,
		DeleteModal,
		EditModal,
		LikeButton,
		IntersectionObserver,
		TheSpinner
	},
	computed:{
		...mapGetters(['getNextPage', 'getIsLoading', 'getErrorMessage'])
	},
	methods: {
		onIntersecting(value){
			this.$emit('onIntersecting', value)
		},
	},
};
</script>

<style scoped>
ul {
	list-style-type: none;
}
</style>
