<template>
  <div class="card shadow">
    <div class="d-flex align-items-center justify-content-between p-1">
      <div class="d-flex align-items-center">
				<router-link tag="div" :to="'/user/'+post.author.username">
					<button class="btn d-flex align-items-center" data-bs-dismiss="modal">
						<img
							id="avatar"
							:src="post.author.image"
							class="card-img-top rounded-circle p-1"
							alt=""
						/>
				<div class="text-decoration-none link-dark text-gradient">
        	<h5 class="card-title ps-2">{{ post.author.username }}</h5>
				</div>
					</button>
				</router-link>
      </div>
      <slot name="menu" v-if="getCurrentUser.username===post.author.username"></slot>
    </div>
		<div>
    	<img :src="post.image" class="w-100" alt="" @dblclick="doubleTap" />
		</div>
    <div class="card-body">
			<slot name="like"></slot>
    </div>
    <div id="text-body" class="card-body">
      <p v-if="post.created_at">Posted {{ post.created_at }}</p>
      <p class="card-text" style="white-space: pre-line">
				<router-link :to='`/user/${post.author.username}`' class="text-decoration-none link-dark text-gradient">
					<span class="fw-bold pe-1">{{ post.author.username }}</span>
				</router-link>
				{{ post.description }}
      </p>
    </div>
    <slot></slot>
  </div>
</template>

<script>

import {mapActions, mapGetters} from "vuex";
import LikeButton from "./LikeButton";

export default {
	components: {
		LikeButton
	},
	props: ["post"],
	methods: {
		...mapActions(['createLike']),
		doubleTap(){
			if (!this.liked){
				this.createLike(this.post);
			}
		}
	},
	computed: {
		...mapGetters([
			'getCurrentUser'
		]),
		liked(){
			return this.post.likes.find(like => like.user_id === this.getCurrentUser.id);
		},
	},
};
</script>

<style scoped>
.btn:focus {
	outline: none;
	box-shadow: none;
}
.card {
	flex-direction: column;
}
#avatar {
  max-width: 35px;
	max-height: 35px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.btn-outline-primary:hover {
  background-color: transparent;
  color: #0d6efd;
}

.card-title {
  margin: 0;
  font-size: 0.8rem;
}
.text-gradient:hover {
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

</style>
