<template>
	<div
		class="modal fade"
		id="postModal"
		tabindex="-1"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
			<button v-if="getPrevPost" @click="setActivePost(getPrevPost)" class="btn position-absolute ms-5 start-0 top-50 translate-middle-y"><font-awesome-icon icon="fa-solid fa-chevron-left" size="4x" inverse/></button>
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<post-card v-if="getActivePost" :post="getActivePost" class="thegram-grid">
						<template v-slot:menu>
							<menu-item :post="getActivePost"/>
						</template>
						<template v-slot:like>
							<LikeButton :post="getActivePost" />
						</template>
						<comments :post="getActivePost"/>
					</post-card>
				</div>
			</div>
			<button v-if="getNextPost" @click="setActivePost(getNextPost)" class="btn position-absolute me-5 end-0 top-50 translate-middle-y"><font-awesome-icon icon="fa-solid fa-chevron-right" size="4x" inverse/></button>
	</div>
</template>

<script>
//Import
import PostCard from "./PostCard";
import MenuItem from "./MenuItem";
import Comments from "./Comments";
import {mapActions, mapGetters} from "vuex";
import LikeButton from "./LikeButton";

//Export
export default {
	name: "PostModal",
	components: {
		PostCard,
		MenuItem,
		Comments,
		LikeButton
	},
	computed: {
		...mapGetters(['getActivePost', 'getPrevPost', 'getNextPost'])
	},
	methods:{
		...mapActions(['setActivePost'])
	}
}
</script>

<style>
.btn:focus {
	outline: none;
	box-shadow: none;
}
</style>
