<template>
  <div>
		<div class="row mx-lg-5 mx-xl-5">
			<div v-for="(post, index) in posts" :key="post.id" class="mb-3 col-4">
				<intersection-observer @onIntersecting="onIntersecting" v-if="index === posts.length-1 && getNextPage" target="postGridObserver"/>
				<a
					data-bs-toggle="modal"
					data-bs-target="#postModal"
					href="#"
					@click="setActivePost(post)"
				>
					<div class="card">
						<img :src="post.image" alt="" class="card gridPic w-100">
					</div>
				</a>
			</div>
		</div>
		<post-modal />
		<delete-modal />
		<edit-modal />
	</div>
</template>

<script>
import PostCard from "./PostCard";
import MenuItem from "./MenuItem";
import DeleteModal from "./DeleteModal";
import EditModal from "./EditModal";
import Comments from "./Comments";
import LikeButton from "./LikeButton";
import PostModal from "./PostModal";
import {mapActions, mapGetters} from "vuex";
import IntersectionObserver from "./IntersectionObserver";

export default {
	props: ['posts'],
  components: {
    PostCard,
		MenuItem,
		PostModal,
		DeleteModal,
		EditModal,
		Comments,
		LikeButton,
		IntersectionObserver
  },
	computed:{
		...mapGetters(['getNextPage'])
	},
	methods: {
		onIntersecting(value){
			this.$emit('onIntersecting', value)
		},
		...mapActions(['setActivePost'])
	},
};
</script>

<style>
.gridPic {
  aspect-ratio: 1/1;
  object-fit: cover;
}
</style>
