<template>
	<div>
		<div class="navbar sticky-top navbar-expand navbar-light bg-light shadow ">
			<div class="container-fluid">
				<div class="navbar-nav d-flex w-100 justify-content-around">
					<router-link to="/" class="nav-link gramGradient">
						<p class="lobster mb-0 display-6">TheGram</p>
					</router-link>
				</div>
			</div>
		</div>
		<form @submit.prevent="submitUser" class="container card py-2 my-2 shadow">
			<div class="form-group">
				<p class="text-center display-6 mt-2">Signup</p>
				<img id="profilepic" class="rounded-circle mx-auto d-block my-3" :src="user.image" alt="">
				<h5 class="text-center">@{{ user.username }}</h5><br>
				<div class="row justify-content-center">
					<div class="col-12 col-sm-5 col-xl-3">
						<label for="uploaded_file">Profile Pic</label>
						<input
							type="file"
							accept="image/png, image/jpeg"
							class="form-control my-3"
							id="uploaded_file"
							name="image"
							@change="onFileChange"
							required>
						<label for="username">Username</label>
						<div class="input-group flex-nowrap my-3">
							<span class="input-group-text">@</span>
							<input
								:class="{'form-control':true, 'is-invalid':!validUsername(user.username)}"
								type="text"
								autocomplete="username"
								id="username"
								name="username"
								placeholder="Username"
								v-model="user.username"
								required>
							<div class="invalid-tooltip">Username can not contain whitespaces</div>
						</div>
						<p :style="{color: 'red',fontSize:'0.9rem'}">{{ errors.username[0] }}</p>
						<label for="email">Email</label>
						<div><input
							class="form-control my-3"
							type="email"
							id="email"
							name="email"
							placeholder="user@email.com"
							v-model="user.email"
							required></div>
						<p :style="{color: 'red',fontSize:'0.9rem'}">{{ errors.email[0] }}</p>
					</div>
					<div class="col-12 col-sm-5 col-xl-3">
						<label for="firstName">First Name</label>
						<input
							class="form-control my-3"
							type="text"
							id="firstName"
							name="first_name"
							placeholder="First Name"
							v-model="user.first_name"
							required>
						<label for="lastName">Last Name</label>
						<input
							class="form-control my-3"
							type="text"
							id="lastName"
							name="last_name"
							placeholder="Last Name"
							v-model="user.last_name"
							required>
						<div class="forms-inputs position-relative">
							<label for="password">Password</label>
							<input
								:class="{'form-control':true, 'my-3':true, 'is-invalid':!validation.password}"
								type="password"
								autocomplete="new-password"
								id="password"
								name="password"
								placeholder="Password"
								v-model="user.password"
								required>
							<div class="invalid-tooltip">Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
						</div>
						<div class="forms-inputs position-relative">
							<label for="password_confirmation">Confirm password</label>
							<input
								:class="{'form-control':true, 'my-3':true, 'is-invalid':!validation.password_confirmation}"
								type="password"
								autocomplete="new-password"
								id="password_confirmation"
								name="password_confirmation"
								placeholder="Password"
								v-model="user.password_confirmation"
								required>
							<div class="invalid-tooltip">Passwords do not match</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary my-3 row w-25 mx-auto d-block">Signup</button>
				<router-link tag="button" class="btn btn-secondary my-3 row w-25 mx-auto d-block" to="/login">Login Instead
				</router-link>
			</div>
		</form>
	</div>
</template>

<script>
import {mapActions} from "vuex";

export default {
	data() {
		return {
			user: {
				image: '/storage/images/placeholder.jpg',
				username: '',
				email: '',
				first_name: '',
				last_name: '',
				password: '',
				password_confirmation: '',
				fileInput: null
			},
			errors: {username: [''], email: ['']},
			valid: false,
			validation:{
				password: true,
				password_confirmation: true
			}
		}
	},
	methods: {
		async submitUser() {
			this.validate()
			if(this.valid) {
				const errors = await this.createUser(this.user);
				if (errors) {
					this.errors.username = errors.username || [''];
					this.errors.email = errors.email || [''];
				}
			}
		},
		validate(){
			if(this.validUsername(this.user.username) && this.validPassword(this.user.password) && this.validConfirmedPassword()){
				this.valid = true
			}
		},
		validUsername(username){
			let reg = /^\S*$/
			if(reg.test(username.toLowerCase())){
				return true
			}
		},
		validPassword(password){
			this.validation.password = true
			let reg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
			if(reg.test(password)){
				return true
			} else {
				return this.validation.password = false
			}
		},
		validConfirmedPassword(){
			this.validation.password_confirmation = true
			if (this.user.password === this.user.password_confirmation){
				return true
			} else {
				return this.validation.password_confirmation = false

			}
		},
		updateUsername(e) {
			this.username = e.target.value;
		},
		onFileChange(e) {
			const files = e.target.files || e.dataTransfer.files;
			if (!files.length)
				return;
			this.user.fileInput = files[0];
			this.createImage(files[0]);
		},
		createImage(file) {
			const reader = new FileReader();
			const vm = this;

			reader.onload = (e) => {
				vm.user.image = e.target.result;
			};
			reader.readAsDataURL(file);
		},
		...mapActions(['createUser'])
	}
}
</script>

<style>
#profilepic {
	aspect-ratio: 1/1;
	height: 200px;
	width: 200px;
	object-fit: cover;
}
.lobster{
	font-family: 'Lobster', cursive;
}
.lobster:hover{
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	text-shadow: 0 0 transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gramGradient {
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	text-shadow: 0 0 transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
</style>
