<template>
		<nav class="navbar sticky-md-top fixed-bottom navbar-expand navbar-light bg-light shadow">
			<div class="container-fluid">
				<div id="nav" class="navbar-nav d-flex w-100 justify-content-around">
	<!--				Left-->
					<div id="left" class="d-flex">
						<router-link to="/" class="nav-link gramGradient d-md-inline d-none px-5">
							<p class="lobster mb-0">TheGram</p>
						</router-link>
						<router-link to="/" class="nav-link d-md-none">
							<i class="fas fa-home"></i>
						</router-link>
						<router-link to="/discover" class="nav-link d-md-none">
							<i class="fa fa-regular fa-compass"></i>
						</router-link>
					</div>
	<!--				Center-->
					<div id="center" class="align-self-center d-flex flex-nowrap">
						<the-search />
					</div>
	<!--				Right-->
					<div id="right" class="d-flex">
						<router-link to="/" class="nav-link d-md-inline d-none">
							<i class="fas fa-home"></i>
						</router-link>
						<router-link to="/discover" class="nav-link d-none d-md-inline">
							<i class="fa fa-regular fa-compass"></i>
						</router-link>
						<router-link to="/create-post" class="nav-link">
							<i class="far fa-plus-square"></i>
						</router-link>
						<router-link :to="`/user/${getCurrentUser.username}`" class="nav-link">
							<i class="far fa-user-circle"></i>
						</router-link>
					</div>
				</div>
			</div>
		</nav>
</template>

<script>
import TheSearch from "./TheSearch.vue";
import {mapGetters} from "vuex";
export default {
  components: { TheSearch },
  name: "TheHeader",
	computed:{...mapGetters(['getCurrentUser'])}
};
</script>

<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#nav {
  font-size: 40px;
}

#nav > * {
  font-weight: bold;
  text-decoration: none;
}

#nav a:hover > i {
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	text-shadow: 0 0 transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#nav a.router-link-exact-active > i {
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	text-shadow: 0 0 transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.lobster{
	font-family: 'Lobster', cursive;
}
.lobster:hover{
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	text-shadow: 0 0 transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gramGradient{
	background: #833ab4;
	background: -moz-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: -webkit-linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdc80",endColorstr="#405de6",GradientType=1);
	text-shadow: 0 0 transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
</style>
