<template>
	<div class="container text-center mx-auto mb-5 mt-2">
		<i v-if="this.number===1" class="fa fa-brands fa-bitcoin spinner"></i>
		<i v-if="this.number===2" class="fa fa-solid fa-hand-middle-finger spinner"></i>
		<i v-if="this.number===3" class="fa fa-solid fa-at spinner"></i>
		<i v-if="this.number===4" class="fa fa-solid fa-compass spinner"></i>
		<i v-if="this.number===5" class="fa fa-brands fa-instagram spinner"></i>
		<i v-if="this.number===6" class="fa fa-solid fa-poo spinner"></i>
		<i v-if="this.number===7" class="fa fa-solid fa-thumbs-down spinner"></i>
		<span class="sr-only mx-auto text-center">Loading...</span>
	</div>
</template>

<script>
//Import

//Export
export default {
	name: "TheSpinner",
	data() {
		return {
			number: 1
		}
	},
	created() {
		this.number = Math.floor(Math.random()*(7)+1)
	},
}
</script>

<style scoped>
.spinner {
	animation: spin-animation 1s infinite;
	animation-timing-function: linear;
	display: inline-block;
	font-size: 60px;
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes spin-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
</style>
