<template>
  <div>
    <div
      v-if="resultsVisible"
      @click="resultsVisible = false"
      class="overlay"
    ></div>
    <div class="position-relative">
      <input
        @click="resultsVisible = !resultsVisible"
				@keyup="search"
        v-model="searchQuery"
				type="text"
        class="form-control d-block"
				name=""
        placeholder="Search"
      />
      <div v-if="resultsVisible" class="search-popup position-absolute translate-middle-x start-50">
        <div class="d-flex justify-content-center">
          <div class="arrowup"></div>
        </div>
        <div class="search-content shadow-sm p-3  bg-body rounded">
          <h2 class="search-header">Search</h2>
          <div class="search-body justify-content-center align-items-center">
            <p v-if="results.length===0">No recent searches.</p>
						<div v-if="results.length!==0" v-for="result in results" class="d-block">
							<router-link :to="'/user/'+result.username" class="text-decoration-none link-dark">
								<div class="my-2 row search-result">
									<div class="col-3">
										<img :src="result.image" :alt="result.username" class="rounded-circle profile-pic">
									</div>
									<div class="col-9">
										<span class="h6">@{{result.username}}</span>
										<br>
										<span>{{result.first_name}}</span>
										<span>{{result.last_name}}</span>
									</div>
								</div>
							</router-link>
						</div>
          </div>
        </div>
				<div class="d-flex justify-content-center">
					<div class="arrowdown"></div>
				</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      resultsVisible: false,
			searchQuery: '',
			results: [],
    };
  },
	methods: {
		async search(){

			if(!this.searchQuery.trim()){
				return;
			}

			try {
				const res = await fetch(`/api/users/search/${this.searchQuery.trim()}`,{
					headers:{
						Accept:'application/json'
					}
				})

				if(!res.ok){
					throw Error(`${res.status} ${res.statusText}`)
				}

				const results = await res.json()
				this.results = await results

			} catch(err) {
				console.log(err);
			}
		}
	}
};
</script>

<style scoped>
.overlay{
	position: fixed;
	bottom: 0;
	left: 0;
	width:100%;
	height: 100vh;
}

.arrowup {
	display: none;
	width: 0;
	height: 0;
	border-bottom: 10px solid white;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
}

.arrowdown {
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
}

.search-header {
	font-size: 1rem;
}
.search-body {
  width: 250px;
  font-size: 0.7rem;
  font-weight: normal;
}
.profile-pic {
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	object-fit: cover;
}
a:hover{
	color: #333;
}
.search-result:hover {
	background: linear-gradient(42deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 11%, rgba(247,119,55,1) 22%, rgba(245,96,64,1) 33%, rgba(253,29,29,1) 44%, rgba(225,48,108,1) 55%, rgba(193,53,132,1) 67%, rgba(131,58,180,1) 78%, rgba(88,81,216,1) 89%, rgba(64,93,230,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.search-popup {
	bottom: 40px;
}

@media only screen and (min-width: 768px){
	.search-popup {
		top: 40px;
	}

	.arrowup{
		display: block;
	}
	.arrowdown{
		display: none;
	}
}
</style>
