<template>
	<div class="mt-5">
		<div v-if="getUserProfile" class="container col-10 mx-auto">
			<div class="shadow row justify-content-center bg-white rounded py-3 mx-lg-5 mx-xl-5 mb-5">
				<div class="col-12 col-md-6 col-lg-6 justify-content-center d-flex align-items-center flex-wrap mb-3">
					<img :src="getUserProfile.image" alt="" class="profile-pic rounded-circle mx-auto">
				</div>
				<div class="col-8 col-md-6 col-lg-6 text-center">
					<p class="h3">@{{getUserProfile.username}}</p>
					<div class="d-flex justify-content-center">
						<div class="d-flex mx-3">Posts:<br>{{getUserProfile.posts_count}}</div>
						<div class="d-flex mx-3">Followers:<br>{{followersCount}}</div>
						<div class="d-flex mx-3">Following:<br>{{followingCount}}</div>
					</div>
					<p class="h5 mt-3">{{ getUserProfile.first_name }} {{ getUserProfile.last_name }}</p>
					<div v-if="getCurrentUser.id===getUserProfile.id">
						<p>{{ getUserProfile.email }}</p>
						<button @click="initEditProfile" class="btn btn-light">Edit Profile</button>
						<button @click="logout" class="btn btn-outline-danger">Logout</button>
					</div>
					<div v-else>
						<button v-if="!followed" @click="toggleFollow" class="btn btn-outline-primary">Follow</button>
						<button v-if="followed" @click="toggleFollow" class="btn btn-primary">Following</button>
					</div>
				</div>
			</div>
			<!-- Insert Posts Here -->
			<posts-grid  @onIntersecting="onIntersecting" v-if="getAllPosts.length" :posts="getAllPosts" />
			<div v-if="!getIsLoading && !getAllPosts.length" class="card mt-5 ps-0 col-10 col-lg-5 mx-auto">
				<font-awesome-icon icon="fa-regular fa-image" class="display-6 text-muted mt-3"/>
				<div class="card-body text-center text-muted">No Posts Yet</div>
			</div>
		</div>
		<TheSpinner v-if="getIsLoading">
		</TheSpinner>
		<div v-if="getErrorMessage" class="card mt-5 ps-0 col-10 col-lg-5 mx-auto">
			<font-awesome-icon icon="fa-regular fa-user" class="display-6 text-muted mt-3" />
			<p class="card-body text-center text-muted">404 | User Not Found</p>
		</div>
	</div>
</template>

<script>
import PostsGrid from "./PostsGrid";
import DeleteModal from "./DeleteModal";
import EditModal from "./EditModal";
import {mapActions, mapGetters} from "vuex";
import TheSpinner from "./TheSpinner";

export default {
	props: ['swapComponent'],
	components: {
		PostsGrid,
		DeleteModal,
		EditModal,
		TheSpinner
	},
	computed: {
		followersCount() {
			return this.getUserProfile.followers.length
		},
		followingCount() {
			return this.getUserProfile.following.length
		},
		followed() {
			return this.getUserProfile.followers.find(follower => follower.follower_id === this.getCurrentUser.id)
		},
		...mapGetters([
			'getCurrentUser', 'getAllPosts', 'getToken', 'getUserProfile', 'getIsLoading', 'getErrorMessage'
		]),

	},
	methods: {
		toggleFollow() {
			if (this.followed) {
				this.deleteFollower(this.getUserProfile.id)
			} else {
				this.createFollower(this.getUserProfile.id)
			}
		},
		initEditProfile() {
			this.setEditUser(this.getCurrentUser);
			this.swapComponent('editProfile');
		},
		onIntersecting(){
			this.fetchNextPosts();
		},
		...mapActions(['logout', 'setEditUser', 'fetchUserPosts', 'createFollower', 'deleteFollower', 'fetchUserProfile', 'clearPosts', 'fetchNextPosts'])
	},
	created() {
		// watch the params of the route to fetch the data again
		this.$watch(
			() => this.$route.params,
			() => {
			this.fetchUserProfile()
			},
			// fetch the data when the view is created and the data is
			// already being observed
			{immediate: true}
		)
	},
}

</script>

<style scoped>
.profile-pic {
	aspect-ratio: 1/1;
	height: 200px;
	width: 200px;
	object-fit: cover;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: transparent !important;
	background-color: transparent !important;
	border-color: transparent !important; /*set the color you want here*/
	position: relative;

}
.btn-primary:hover:after {
	color: #fff !important;
	background-color: #dc3545 !important;
	content: 'Unfollow';
	position: absolute;
	border: #dc3545 solid 2px;
	border-radius: 4px;
	padding: 5px 14px;
	top: -1px;
	left: -1px;
}
</style>
